In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

df=pd.read_csv("data_006.csv")

In [ ]:
df= df.rename(columns={'P1':'성별','P2':'나이','P3':'은행활동고객','P4':'카드우수고객',
                       'P5':'금투활동고객','P6':'라이프활동고객','P7':'결제계좌',
                       'B167':'취급금액',
                       'C1':'이용건수'})

In [ ]:
df

In [ ]:
def age(x):
    if (x == "20대_초")|(x == "20대_후"):
        return "20대"
    elif (x == '30대_초')|(x == '30대_후'):
        return '30대'
    elif (x == '40대_초')|( x == '40대_후'):
        return '40대'
    elif (x == '50대_초')|( x == '50대_후'):
        return '50대'
    elif (x == '60대_초')|( x == '60대_후'):
        return '60대'

In [ ]:
df['나이대'] = df['나이'].apply(lambda x : age(x))

In [ ]:
df

## EDA

In [ ]:
df11=df.iloc[:,7:174]
df11=df11/1000

df21=df.iloc[:,:7]
df31=df.iloc[:,174:]

df_ = pd.concat([df21,df11],axis=1)
df = pd.concat([df_,df31],axis=1)
df

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.font_manager as fm

import matplotlib.pylab as plt
plt.rc("font", family='NanumGothic')

In [ ]:
# 성별
sns.countplot(x='성별', data=df, color="royalblue")
plt.show()

# 라이프활동여부에 따른 성별별 취금금액 
sns.barplot(data=df, y="취급금액", x='성별', hue='라이프활동고객', color="royalblue")
plt.title('라이프활동여부에 따른 성별별 취금금액')
plt.show()

In [ ]:
# 나이
df1=df.sort_values(['나이'],ascending=True)

sns.countplot(x='나이', data=df1, color="royalblue")
plt.show()

# 라이프활동여부에 따른 나이대별 취금금액 
sns.lineplot(data=df1, y="취급금액", x='나이', hue='라이프활동고객')
plt.title('라이프활동여부에 따른 나이별 취금금액')
plt.show()

In [ ]:
#나이대 
sns.countplot(x='나이대', data=df1, color="royalblue")
plt.show()

# 라이프활동여부에 따른 나이대별 취금금액 
sns.lineplot(data=df1, y="취급금액", x='나이대', hue='라이프활동고객',color="royalblue")
plt.title('라이프활동여부에 따른 나이별 취금금액')
plt.show()

In [ ]:
#은행활동고객
sns.countplot(x='은행활동고객', data=df1, color="royalblue")
plt.show()

# 라이프활동여부에 따른 나이대별 취금금액 
sns.barplot(data=df1, y="취급금액", x='은행활동고객', hue='라이프활동고객',color="royalblue")
plt.title('라이프활동여부에 따른 은행활동고객별 취금금액')
plt.show()

In [ ]:
#카드우수고객
sns.countplot(x='카드우수고객', data=df1, color="royalblue")
plt.show()

# 라이프활동여부에 따른 나이대별 취금금액 
sns.barplot(data=df1, y="취급금액", x='카드우수고객', hue='라이프활동고객', color="royalblue")
plt.title('라이프활동여부에 따른 카드우수고객별 취급금액')
plt.show()

In [ ]:
#금투활동고객

sns.countplot(x='금투활동고객', data=df1, color="royalblue")
plt.show()

# 라이프활동여부에 따른 나이대별 취금금액 
sns.barplot(data=df1, y="취급금액", x='금투활동고객', hue='라이프활동고객', color="royalblue")
plt.title('라이프활동여부에 따른 금투활동고객별 취급금액')
plt.show()

In [ ]:
#라이프활동고객
sns.countplot(x='라이프활동고객', data=df1, color="royalblue")
plt.show()

In [ ]:
#결제계좌
df2=df.sort_values(['결제계좌'],ascending=True)

sns.countplot(x='결제계좌', data=df2, color="royalblue")
plt.show()

# 라이프활동여부에 따른 나이대별 취금금액 
sns.barplot(data=df2, y="취급금액", x='결제계좌', hue='라이프활동고객', color="royalblue")
plt.title('라이프활동여부에 따른 결제은행별 취급금액')
plt.show()

In [ ]:
# 새 변수 생성
df['식료품']= df['B15']+df['B17']+df['B22']+df['B23']+df['B24']+df['B25']+df['B26']+df['B27']+df['B30']+df['B32']+df['B51']
df['의류신발']= df['B13']+df['B14']+df['B16']+df['B21']+df['B63']+df['B64']+df['B68']+df['B69']+df['B70']
df['생활용품']= df['B18']+df['B19']+df['B20']+df['B43']+df['B44']+df['B47']+df['B48']+df['B49']+df['B50']+df['B52']+df['B53']+df['B66']+df['B67']
df['보건']= df['B139']+df['B140']+df['B141']+df['B142']+df['B143']+df['B144']+df['B145']+df['B146']+df['B147']+df['B148']+df['B149']

df['운송']= df['B6']+df['B7']+df['B8']+df['B9']+df['B10']+df['B11']+df['B118']+df['B119']+df['B126']+df['B133']+df['B135']
df['운송']= df['운송']+df['B157']+df['B158']+df['B159']+df['B160']+df['B161']+df['B162']+df['B163']+df['B164']+df['B165']+df['B166']

df['정보통신']= df['B33']+df['B34']+df['B56']+df['B58']+df['B61']+df['B62']+df['B62']+df['B134']

df['오락스포츠문화']= df['B54']+df['B55']+df['B57']+df['B77']+df['B78']+df['B79']+df['B80']+df['B81']+df['B82']+df['B83']+df['B84']
df['오락스포츠문화']= df['오락스포츠문화']+df['B86']+df['B87']+df['B88']+df['B89']+df['B90']+df['B91']+df['B97']+df['B98']+df['B99']+df['B100']+df['B101']+df['B102']
df['오락스포츠문화']= df['오락스포츠문화']+df['B103']+df['B104']+df['B105']+df['B120']+df['B121']+df['B122']+df['B123']+df['B137']+df['B138']

df['교육']= df['B59']+df['B60']+df['B94']+df['B108']+df['B155']+df['B156']
df['숙박']= df['B1']+df['B2']+df['B3']+df['B4']+df['B5']
df['음식점']=df['B30']+df['B35']+df['B36']+df['B37']+df['B38']+df['B39']+df['B40']+df['B41']+df['B42']

df['개인미용']= df['B72']+df['B73']+df['B74']+df['B75']+df['B76']+df['B95']+df['B96']+df['B152']+df['B153']+df['B154']
df['사회복지']= df['B12']
df['기타상품']= df['B28']+df['B29']+df['B92']+df['B93']+df['B109']+df['B110']+df['B111']+df['B112']+df['B113']+df['B114']+df['B115']+df['B116']
df['기타상품']= df['기타상품']+df['B124']+df['B117']+df['B125']+df['B127']+df['B128']+df['B129']+df['B130']+df['B131']+df['B132']+df['B136']+df['B150']+df['B151']

df['전체결제금액'] = df['식료품']+df['의류신발']+df['생활용품']+df['보건']+df['운송']+df['정보통신']+df['오락스포츠문화']
df['전체결제금액'] = df['전체결제금액']+df['교육']+df['숙박']+df['음식점']+df['개인미용']+df['사회복지']+df['기타상품']
'''
df['']= df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']+df['B']

'''

In [ ]:
df

In [ ]:
# 이상치 
df = df[~(((df['금투활동고객'] == 0) & (df['결제계좌']=='A증권사')))]
df = df[~(((df['은행활동고객'] == 0) & (df['결제계좌']=='A은행')))]
df = df[~(((df['취급금액']< df['전체결제금액'])))]

In [ ]:
df

In [ ]:
# 사용처 제거(결제정보 제거)
df11=df.iloc[:,:7]
df12=df.iloc[:,-15:]
df=pd.concat([df11,df12],axis=1)
df

In [ ]:
df1=df
df2=df
df3=df

In [ ]:
df1

## 1. 피벗_전체_성별

In [ ]:
#성별 기준으로 업종별 결제금액의 합 (피벗테이블)
piv1=pd.pivot_table(df1,columns='성별',values=['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액'],aggfunc=np.sum)
piv1

In [ ]:
from scipy import stats

# chi-squared test
k = stats.chi2_contingency(piv1)
print(k)
#성별과 결제업종은 무관하다.의존하지 않는다. p-value<0.05

# Kolmogorov-Smirnov Test
kf,sf = stats.kstest(piv1['F'],'norm')
print("Kolmogorov-Smirnov Test \n여성 [ 통계량:{}, p-value:{} ]".format(kf,sf))
km,sm = stats.kstest(piv1['M'],'norm')
print("남성 [ 통계량:{}, p-value:{} ]".format(km,sm))

# 두 성별 모두 정규분포를 따르지 않는다.


# Shapiro-Wilk Test
kf,sf = stats.shapiro(piv1['F'])
print("\nShapiro-Wilk Test\n여성 [ 통계량:{},p-value:{} ]".format(kf,sf))
km,sm = stats.shapiro(piv1['M'])
print("남성 [ 통계량:{},p-value:{} ]".format(km,sm))

# 두 성별 모두 정규분포를 따르지 않는다.

In [ ]:
# 라이프 분리 없이 전체 스케일링

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
piv1[['F','M']]=scaler.fit_transform(piv1[['F','M']])
piv1

In [ ]:
piv1=piv1[piv1['F']!=1]
piv1.plot(kind='barh',stacked=True)
plt.show()

## 전체 고객 군집화

In [ ]:
# 다룰 데이터를 수치형으로

df11=df1.iloc[:,0]
df111=df1.iloc[:,8:]
df1=pd.concat([df11,df111],axis=1)

from sklearn.preprocessing import LabelEncoder
df1['성별']=LabelEncoder().fit_transform(df1['성별'])
df1

In [ ]:
df1.describe()

In [ ]:
# 군집화1
# n_init 초기 중심점 샘플링 횟수, max_iter 반복횟수, algorithm 보통 auto로 지정, random_state

from sklearn.cluster import KMeans
cluster1= KMeans(n_clusters=3,n_init=3,max_iter=300,random_state=42,algorithm='auto').fit(df1)

'''
cluster_center=cluster.cluster_centers_ #각 군집의 중심점 결과 저장
cluster_pred=cluster.predict(df)  # 예측군집 저장
print(pd.DataFrame(cluster_center))
print(cluster_pred)
'''
df1['cluster']=cluster1.labels_
df1

In [ ]:
scope=range(1,10)
var_cluster=[]

for i in scope:
    model=KMeans(n_clusters=i).fit(df1)
    var_cluster.append(model.inertia_)
    
plt.figure(figsize=(4,4))
plt.plot(scope,var_cluster,'-o')
plt.show()

#3에서 군집내 분산이 빠르게 줄어듬을 알 수 있음.

In [ ]:
from sklearn.metrics import silhouette_samples, silhouette_score

## 2. 피벗_전체_나이

In [ ]:
# 라이프 분리 없이 전체 스케일링

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df1[['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액']]=scaler.fit_transform(df1[['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액']])

df1

In [ ]:

from sklearn.preprocessing import LabelEncoder
df['성별']=LabelEncoder().fit_transform(df['성별'])
df['나이대']=LabelEncoder().fit_transform(df['나이대'])
df['나이']=LabelEncoder().fit_transform(df['나이'])
df['결제계좌']=LabelEncoder().fit_transform(df['결제계좌'])

#df1=df.drop(['나이'],axis=1)

df

In [ ]:
df12=df

## 라이프 고객 군집화

In [ ]:
#라이프 고객

df_0=df[df['라이프활동고객']==0]
df_0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_0[['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액']]=scaler.fit_transform(df_0[['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액']])

df_0

In [ ]:
#라이프 비고객

df_1=df[df['라이프활동고객']==1]
df_1

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_1[['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액']]=scaler.fit_transform(df_1[['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품','전체결제금액']])

df_1

In [ ]:
#여기 잘 모름
#kmeans 파라미터 : n_init 초기 중심점 샘플링 횟수, max_iter 반복횟수, algorithm 보통 auto로 지정, random_state

cluster= KMeans(n_clusters=3,n_init=3,max_iter=300,random_state=42,algorithm='auto').fit(df)

'''
cluster_center=cluster.cluster_centers_ #각 군집의 중심점 결과 저장
cluster_pred=cluster.predict(df)  # 예측군집 저장
print(pd.DataFrame(cluster_center))
print(cluster_pred)
'''
df['cluster']=cluster_pred

In [ ]:
df_0.describe()

In [ ]:
# 다룰 데이터를 수치형으로
df_01=df_0.iloc[:,1]
df_011 = df_0.iloc[:,-1]
df_0=pd.concat([df_01,df_011],axis=1)

In [ ]:
# 결제액의 min, max 범위가 커서 업종 스케일링 진행
from sklearn.preprocessing import LabelEncoder
df_0['나이']=LabelEncoder().fit_transform(df_0['나이'])
df_0.reset_index(drop=True,inplace=True)

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_0[['전체결제금액']]=scaler.fit_transform(df_0[['전체결제금액']])

df_0.drop(['나이'],axis=1,inplace=True)

In [ ]:
scope=range(1,10)
var_cluster=[]

for i in scope:
    model=KMeans(n_clusters=i,n_init=3,max_iter=300,
                 random_state=42,algorithm='auto').fit(df_0)
    var_cluster.append(model.inertia_)
    
plt.figure(figsize=(4,4))
plt.plot(scope,var_cluster,'-o')
plt.show()

In [ ]:
k = 4
from sklearn.cluster import KMeans
cluster1= KMeans(n_clusters=k,n_init=3,max_iter=300,
                 random_state=42,algorithm='auto').fit(df_0)

df_0['cluster']=cluster1.labels_
df_0

In [ ]:
data = list(range(0, 363626, 1))
col = pd.DataFrame(data)
df_0['number']=col

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize = (5,5))

k=4
for i in range(k):
    plt.scatter(df_0.loc[df_0['cluster'] == i, 'number'], 
                df_0.loc[df_0['cluster'] == i, '전체결제금액'], 
                label = 'cluster ' + str(i))

plt.legend()
plt.title('K = %d results'%k , size = 15)
plt.xlabel('number', size = 12)
plt.ylabel('전체결제금액', size = 12)
plt.show()

In [ ]:
df_0.groupby('cluster').count()

In [ ]:
m = pd.DataFrame(df_0.groupby('cluster')['전체결제금액'].mean())
m['cluster']=[0,1,2,3]
plt.figure(figsize = (5,5))
sns.barplot(data=m, y="전체결제금액", x='cluster',hue='cluster')
plt.title('라이프 비고객의 전체결제금액 기반 군집화와 군집들의 평균')
plt.show()

In [ ]:
m

In [ ]:
#라이프 비고객
df_copy0=df[df['라이프활동고객']==0]

# 다룰 데이터를 수치형으로

df01=df_copy0.iloc[:,:7]
df011=df_copy0.iloc[:,-14:]
df012=df_copy0.iloc[:,-14:]

import numpy as np
df012 = df012.replace(0,np.nan)

df_copy0=pd.concat([df01,df011],axis=1)
df_copy0_ = pd.concat([df01,df012],axis=1)

df_copy0.reset_index(drop=True,inplace = True)
df_copy0['cluster']= df_0['cluster']


df_copy0_.reset_index(drop=True,inplace = True)
df_copy0_['cluster']= df_0['cluster']

In [ ]:
df_copy0_

In [ ]:
df_copy0_['나이대'] = df_copy0_['나이'].apply(lambda x : age(x))

In [ ]:
# 비고객 군집 분리
df_copy00 = df_copy0[df_copy0['cluster']==0]
df_copy01 = df_copy0[df_copy0['cluster']==1]
df_copy02 = df_copy0[df_copy0['cluster']==2]
df_copy03 = df_copy0[df_copy0['cluster']==3]

In [ ]:
# 비고객 군집 분리/ NaN 파일
df_copy000 = df_copy0_[df_copy0_['cluster']==0]
df_copy001 = df_copy0_[df_copy0_['cluster']==1]
df_copy002 = df_copy0_[df_copy0_['cluster']==2]
df_copy003 = df_copy0_[df_copy0_['cluster']==3]

In [ ]:
df_copy000.groupby('cluster')['식료품'].mean()

In [ ]:
#최상위 군집 df_copy002
m = pd.DataFrame(df_copy002.groupby(['나이대','결제계좌'])['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품'].mean())
#m['결제계좌']=['A은행','A증권사','B은행','B증권사']
m=np.transpose(m)
m['업종']=['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화','교육','숙박','음식점','개인미용','사회복지','기타상품']
m.set_index('업종',inplace=True)
m.plot(kind='bar',figsize = (16,12))

In [ ]:
m.drop(['보건','정보통신','사회복지'],axis=0,inplace=True)
m.plot(kind='bar',figsize = (12,8))

In [ ]:
m.drop(['의류신발'],axis=0,inplace=True)
m.plot(kind='bar',figsize = (12,8))

In [ ]:
#최상위 군집 df_copy000
m = pd.DataFrame(df_copy000.groupby(['나이대','결제계좌'])['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화',
     '교육','숙박','음식점','개인미용','사회복지','기타상품'].mean())
#m['결제계좌']=['A은행','A증권사','B은행','B증권사']
m=np.transpose(m)
m['업종']=['식료품','의류신발','생활용품','보건','운송','정보통신','오락스포츠문화','교육','숙박','음식점','개인미용','사회복지','기타상품']
m.set_index('업종',inplace=True)
m.plot(kind='bar',figsize = (16,12))

In [ ]:
m.drop(['정보통신','교육','사회복지'],axis=0,inplace=True)
m.plot(kind='bar',figsize = (12,8))